<!-- html 기본 구조의 반복을 줄이기 위해 새로운 templates 라는 이름의 폴더를 외부에 생성하고, 그 안에 `base.html` 파일을 만들어줌. 
 settings.py에 templates 설정을 넣어줌
 settings.py => `TEMPLATES`의    `DIRS` 를 
BASE_DIR / 'templates' -->
 
  {% extends 'base.html' %}

  {% block body %}
   
    <table class="table">
      <thead>
        <tr>
            <th>제목</th>
            <th>내용</th>
            <th>링크</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles%}
        <!-- article의 수만큼 반복 (articles는 views.py의 변수 articles ) -->
        <tr>
            <td>{{article.title}}</td>
             <td>{{article.content}}</td>
             <td><a href="{% url 'articles:detail' article.id %}" class="btn btn-primary">🫶detail</a></td>
            </tr>
        {% endfor %}
      </tbody>  
    </table>
  {% endblock %}